.modal-template {
  background-color: rgba(235, 49, 90, 0.2);/* rgba(241, 125, 51, 0.3);*/
  backdrop-filter: blur(4px);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}