.list-container{
  width: 100%;
  height: 90vh;
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-container::-webkit-scrollbar {
  width: 10px;  
  height: 38px;
}

.list-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.list-container::-webkit-scrollbar-thumb:hover {
  background: rgba(235,49,90,1);;
  box-shadow: 0 0 2px 1px rgba(235,49,90,1);;
}
.list-container::-webkit-scrollbar-thumb {
  background-color: rgba(235,49,90,1);
  border-radius: 20px;
  border: 1px solid rgba(235,49,90,1);
}

.list-container::-webkit-scrollbar-thumb:active {
  background-color: rgba(235,49,90,1);;
}

.list-container::-webkit-scrollbar-track {
  background: rgba(235,49,90,0.3);
  border-radius: 4px;
}

.list-container::-webkit-scrollbar-track:hover,
.list-container::-webkit-scrollbar-track:active {
background: rgba(235,49,90,0.3);
}